/* ======================================
    1. hero section 
    =====================================
*/
.store-hero-slide {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.store-hero-slide {
  position: relative;
}

.store-hero-slide img {
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.store-hero-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.store-hero-slide .hero-content p {
  font-size: 1.4rem;
  margin-bottom: 30px;
  line-height: 1.6;
  margin: 20px;
  color: #fff;
  font-weight: bold;
}
.store-hero-slide .hero-content .hero-buttons button {
  font-size: 1.1rem;
  padding: 10px 20px;
  background-color: #fff;
  color: var(--secondary-color);
}
.store-hero-slide .hero-content .hero-buttons button:hover {
  scale: 0.9;
  opacity: 0.9;
}
.store-hero-slide .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  max-width: 800px;
}
.store-hero-slide .hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.store-hero-slide .hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.store-hero-slide .hero-buttons button {
  font-size: 1.1rem;
  padding: 10px 20px;
}
.store-hero-slide .hero-buttons button:hover {
  background-color: var(--text-color2);
  color: var(--primary-light);
}

/* ====== Section base ====== */
.about {
  direction: rtl;
  padding: 2rem 0;
}
.about p {
  color: var(--paragraph-color);
}
.about h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
}
.about h2,
.about > p {
  text-align: center;
}

.about-card {
  position: relative;
  background: #fff;
  border-radius: 14px;
  text-align: center;
  padding: 2rem 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.about-card:hover {
  transform: translateY(-6px);
}

.about-card .icon {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 1rem;
}

.about-card h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.about-card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}

/* Overlay effect */
.about-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 123, 255, 0.15);
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 0;
}

.about-card:hover::after {
  transform: translateX(0);
}

.about-card * {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero-content {
    width: 80%;
    margin: auto;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
}
