
/* ======================================
    3.services section 
    =====================================
*/
.services-section {
    background: var(--bg-color);
}

.services-section .card {
    border-radius: 20px;
    padding: 1rem 1.5rem;
    scale: 1;
}
.services-section .card:hover{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.501);
    scale: 1.01;
    border: 1px solid var(--text-color2);
}
.services-section .product-image{
    width: 100%;
}
.services-section .product-image img{
    width: 100%;
    border-radius: 20px;
}
.services-section .title{
    color: var(--primary-dark);
    font-size: 2rem;
    margin: 1rem 0;
}
.services-section .description{
    color: var(--paragraph-color);
    margin: 1rem 0;
}
.services-section .rate {
    display: flex;
    justify-content: space-between;
}
.services-section .icon-star{
    font-size: 1.6rem;
    color: yellow;
}
.services-section .icon{
    color : var(--text-color2);
    font-size: 1.3rem;
}
.services-section .pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-section .pricing .icons{
    font-size: 2rem;
}
.services-section .price p{
    color: var(--primary-dark);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.services-section .price del{
    color: var(--paragraph-color);
    font-size: 1.5rem;
}