.aurmenu-hero-slide  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.aurmenu-hero-slide  .info {
  padding-right: 30px;
}

.aurmenu-hero-slide  .info .title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.aurmenu-hero-slide .info p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.aurmenu-hero-slide  .image {
  background: url("../aurmenubg.png") ;
  min-height: 500px;
  border-radius: 15px 0 0 15px;
}
 
/* Responsive */
@media (max-width: 992px) {
    .aurmenu-hero-slide{
        flex-direction: column;
        padding-top: 5rem;
    }
  
  .hero-slide .info {
    flex: 0 0 100%;
    padding: 0;
  }

  .hero-slide .image {
    min-height: 300px;
    border-radius: 10px;
    margin-top: 20px;
  }
}
